/* Overwrite CSS */
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,800&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #741e70;
}

.logo {
	font-size: 70px;
	font-weight: 800;
	font-family: "Nunito", sans-serif;
	background: -webkit-linear-gradient(left,#8f0a89 0%,#ff2759 60%,#ff2759 100%);
	background: -o-linear-gradient(left, #8f0a89 0%, #ff2759 60%, #ff2759 100%);
	background: linear-gradient(to right, #8f0a89 0%, #ff2759 60%, #ff2759 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	text-shadow: none;
  /* animation*/
  animation: mg 1.5s;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}
.sub-header {
	font-family: "Nunito", sans-serif;
	font-weight: 300;
  /* animation*/
  animation: mg 1.5s;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
	animation-delay: 1s;
}

/* backgrounds */
.grad-v {
	color: rgba(255, 255, 255, 0.8);
}
.callout .btn.outline,.callout .btn.outline:active {
	color: var(--white);
}
.callout .btn.outline:hover {
	color: rgba(255, 255, 255, 0.8);
}

/* pre code */
pre {
	display: none;
	transition: all 0.2s ease;
}

.pln {
 color: #909090;
}
@media screen {
 .str {
  color: #f0c674;
 }
 .kwd {
  color: #b294bb;
 }
 .com {
  color: #707070;
 }
 .typ {
  color: #c66;
 }
 .lit {
  color: #066;
 }
 .pun,
 .opn,
 .clo {
  color: #660;
 }
 .tag {
  color: var(--powder-400);
 }
 .atn {
  color: #ad4da9;
 }
 .atv {
  color: #f0c674;
 }
 .dec,
 .var {
  color: #ad4da9;
 }
 .fun {
  color: red;
 }
}
@media print, projection {
 .str {
  color: #f0c674;
 }
 .kwd {
  color: #b294bb;
  font-weight: bold;
 }
 .com {
  color: #707070;
  font-style: italic;
 }
 .typ {
  color: #ad4da9;
  font-weight: bold;
 }
 .lit {
  color: #044;
 }
 .pun,
 .opn,
 .clo {
  color: #660;
 }
 .tag {
  color: #b294bb;
  font-weight: bold;
 }
 .atn {
  color: #ad4da9;
 }
 .atv {
  color: #c66;
 }
}
pre.prettyprint {
}
ol.linenums {
 margin-top: 0;
 margin-bottom: 0;
}
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
 list-style-type: none;
}
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
 background: #333;
}

@keyframes mg {from {opacity: 0;}to {opacity: 1;}}
