/* Overwrite CSS */
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,800&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #741e70;
}

.logo {
  font-size: 70px;
  font-weight: 800;
  font-family: "Nunito", sans-serif;
  background: linear-gradient(to right, #8f0a89 0%, #ff2759 60%, #ff2759 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  text-shadow: none;
}

.sub-header {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
}

/* backgrounds */
.grad-v {
  color: rgba(255, 255, 255, 0.8);
}

.callout .btn.outline, .callout .btn.outline:active {
  color: var(--white);
}

.callout .btn.outline:hover {
  color: rgba(255, 255, 255, 0.8);
}

/* pre code */
pre {
  display: none;
  transition: all 0.2s ease;
}
